<ActionBar title="Home" class="action-bar">
</ActionBar>

<GridLayout>
	<ScrollView class="page">
		<StackLayout class="home-panel">
			<!--Add your page content here-->
			<Label textWrap="true" text="Payments App!" class="h2 description-label opensans-semi-bold"></Label>
			<Label textWrap="true" text="This sample App is to showcase how to implement a carousel with purely XML, JS and CSS only."
			 class="h3 description-label opensans-regular"></Label>
			<Label textWrap="true" text="This sample used the ui builder plugin to dynamically loading custom components from XML templates."
			 class="h3 description-label opensans-regular"></Label>
		</StackLayout>
	</ScrollView>
</GridLayout>